.header {
	position: fixed;
	top: 0;
	width: 100vw;
	padding: 2.3em 2.7em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 50;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 70%;
	height: 3.875em;
	border-radius: 2em;
	background: rgba(250, 250, 250, 0.5);
	backdrop-filter: blur(19.028px);
	padding: 0 3em;
}

.header__nav__ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.header__nav__ul__li {
	list-style: none;
	font-weight: 500;
}

.hero {
	width: 100%;
	height: 100vh;
	position: relative;
}

.hero__leftShoe {
	position: absolute;
	width: 35vw;
	right: 5vw;
}
